main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects_gallery {
  display: flex;
  margin: 2em;
  max-width: 350px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;
}
.gallery > div > img {
  width: 100%;
  padding: 1em 2em 2em 2em;
}
@media (min-width: 828px) {
  .projects_gallery {
    max-width: 927px;
  }
  .gallery {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    .object {
      width: 350px;
      margin: 0;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  main {
    padding: 0;
    .contacts_info {
      width: 100%;
    }
  }
  .projects_gallery {
    max-width: 1440px;
    width: 100%;
    margin: 2em;
    background-color: unset;
    padding: 1em 2em;
  }
}
