.langaiDurys_about {
  display: none;
}

// main {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
.langai_durys_contrainer {
  display: flex;
  justify-content: center;
  width: 100%;
  // max-width: 1440px;
}
.langaiDurys_content {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  max-width: 350px;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;

  // text-align: left;
  // color: #272a35;
  // border-radius: 1em;
  // background: #fff;
  // box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;
  .langaiDurys_services > div:hover,
  .langaiDurys_services > .door:hover {
    transform: scale(1.03);
    transition: 300ms ease-in;
  }
}
.langaiDurys_description,
.langaiDurys_services {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  max-width: 350px;
  // padding-top: 1em;
  // padding: 1em 2em 2em 2em;
  margin: 0 auto;
}
// .langaiDurys_services

.langaiDurys_services > div {
  text-align: center;
  transition: 300ms ease-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  img {
    max-width: 300px;
  }
}
.langaiDurys_description p {
  font-size: 18px;
  color: #272a35;
  text-align: center;
  padding: 1em 2em;
  text-transform: uppercase;
}

.langaiDurys_title {
  // padding-top: 0em;
  // padding: 0.5em;
  font-size: 16px;
  padding-top: 1em;
  // margin: 2em 0;
  // font-size: 1.7em;
  // font-weight: 700;
  letter-spacing: 0.1em;
  // transform: translate(51%, 20%);
  // border: 3px solid black;
  // width: 250px;
}

.langaiDurys_image {
  display: none;
}

.langaiDurys_description span {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.langaiDurys_services .wooden {
  max-width: 260px;
  padding: 0 2em;
  height: 207px;
}
.langaiDurys_services .aluminium {
  max-width: 260px;
  padding: 0 2em;
  height: 207px;
}
.langaiDurys_services .plastic {
  max-width: 260px;
  padding: 0 2em;
}

.langaiDurys_services .door {
  height: 450px;
  transition: 300ms ease-out;
  padding-bottom: 3em;

  max-width: 260px;
  padding: 0 2em 3em 2em;
}

.langaiDurys_description > p {
  // text-align: justify;
  // hyphens: none;
  // line-height: 1.5em;
  // font-size: 20px;
  // padding: 0 9em;
}

// @media (min-width: 768px) {
//   .langaiDurys_content {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }

@media (min-width: 828px) {
  main {
    align-items: unset;
  }
  .langaiDurys_content {
    display: flex;
    flex-direction: column;
    max-width: 927px;
    width: 100%;
    // margin: 2em auto;
  }
  .langaiDurys_services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: unset;
    // flex-wrap: wrap;
    // padding: 1em 2em 2em 2em;
  }
  // .langaiDurys_description,
  // .langaiDurys_services {
  //   max-width: 200px;
  //   padding: 1em 2em 2em 2em;
  // }

  .langaiDurys_services .wooden {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }
  .langaiDurys_services .aluminium {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }
  .langaiDurys_services .plastic {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }

  .langaiDurys_services .door {
    height: 450px;
    transition: 300ms ease-out;
    padding-bottom: 3em;

    width: 260px;
    padding: 0 2em 3em 2em;
  }
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .langai_durys_contrainer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .langaiDurys_content {
    // display: grid;
    // grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1440px;
    margin: 0 2em 6em 2em;
    align-content: center;
  }
  main {
    padding: 6em 0 0 0;
  }
  .langaiDurys_content {
    max-width: 1440px;
    // padding: 0 0;
    margin-bottom: 6em;
    .langaiDurys_services {
      margin: 2em 1em 2em 1em;
      // width: 350px;
      display: flex;
      flex-direction: row;
    }
  }
  .langaiDurys_services > div img {
    height: 270px;
  }
  .langaiDurys_description,
  .langaiDurys_services {
    max-width: unset;
  }
  .langaiDurys_description p {
    line-height: 1.5em;
    font-size: 18px;
    // padding: 0 9em;
    padding-top: 2em;
    width: 650px;
  }

  // .langaiDurys_description > p {

  // }
  .langaiDurys_content .langaiDurys_title {
    font-size: 18px;
    padding-top: 0em;
  }
}
