.langaiDurys_about {
  display: none;
}

.langai_durys_contrainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.langaiDurys_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em;
  max-width: 350px;
  border-radius: 1em;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;
          box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;
}

.langaiDurys_content .langaiDurys_services > div:hover,
.langaiDurys_content .langaiDurys_services > .door:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.langaiDurys_description,
.langaiDurys_services {
  max-width: 350px;
  margin: 0 auto;
}

.langaiDurys_services > div {
  text-align: center;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.langaiDurys_services > div img {
  max-width: 300px;
}

.langaiDurys_description p {
  font-size: 18px;
  color: #272a35;
  text-align: center;
  padding: 1em 2em;
  text-transform: uppercase;
}

.langaiDurys_title {
  font-size: 16px;
  padding-top: 1em;
  letter-spacing: 0.1em;
}

.langaiDurys_image {
  display: none;
}

.langaiDurys_description span {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.langaiDurys_services .wooden {
  max-width: 260px;
  padding: 0 2em;
  height: 207px;
}

.langaiDurys_services .aluminium {
  max-width: 260px;
  padding: 0 2em;
  height: 207px;
}

.langaiDurys_services .plastic {
  max-width: 260px;
  padding: 0 2em;
}

.langaiDurys_services .door {
  height: 450px;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  padding-bottom: 3em;
  max-width: 260px;
  padding: 0 2em 3em 2em;
}

@media (min-width: 828px) {
  main {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .langaiDurys_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 927px;
    width: 100%;
  }
  .langaiDurys_services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: unset;
  }
  .langaiDurys_services .wooden {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }
  .langaiDurys_services .aluminium {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }
  .langaiDurys_services .plastic {
    width: 260px;
    padding: 0 2em;
    height: 207px;
  }
  .langaiDurys_services .door {
    height: 450px;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    padding-bottom: 3em;
    width: 260px;
    padding: 0 2em 3em 2em;
  }
}

@media (min-width: 1200px) {
  .langai_durys_contrainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .langaiDurys_content {
    width: 100%;
    max-width: 1440px;
    margin: 0 2em 6em 2em;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  main {
    padding: 6em 0 0 0;
  }
  .langaiDurys_content {
    max-width: 1440px;
    margin-bottom: 6em;
  }
  .langaiDurys_content .langaiDurys_services {
    margin: 2em 1em 2em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .langaiDurys_services > div img {
    height: 270px;
  }
  .langaiDurys_description,
  .langaiDurys_services {
    max-width: unset;
  }
  .langaiDurys_description p {
    line-height: 1.5em;
    font-size: 18px;
    padding-top: 2em;
    width: 650px;
  }
  .langaiDurys_content .langaiDurys_title {
    font-size: 18px;
    padding-top: 0em;
  }
}
/*# sourceMappingURL=langai_durys.css.map */