@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #faf7ff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
}
// navigation container--------------------------------------------
.nav-container {
  background: #fff;
  position: relative;
}
.list {
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  li {
    padding: 1.5em 0 0 0;
    font-size: 1.5em;
    text-align: center;
    a {
      color: #272a35;
    }
  }
}
nav .open {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
// header--------------------------------------------
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  ul {
    display: none;
  }
  a svg {
    height: 3.2em;
    width: 4em;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    background: #123;
  }
  .nav-burger {
    cursor: pointer;
    position: relative;
    z-index: 111;
  }
  .line {
    content: " ";
    border: 3px solid black;
    line-height: 1px;
    padding: 0;
    margin: 6px 0;
    width: 2.5em;
  }
}

// welcome section ----------------------------------
.welcome {
  position: relative;
  img {
    max-height: 600px;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (translate(-50%, -80%));
    width: 80%;
    max-width: 400px;
    color: white;
    font-size: 1.5em;
    padding: 1em 0em;

    text-align: center;
    border: 1px solid white;
    backdrop-filter: brightness(25%);
  }
}
.tablet {
  display: none;
}
// main ---------------------------------

.construction {
  margin-top: 4em;
}
.contacts_info {
  margin-bottom: 4em;
  form {
    // display: none;
  }
}

.construction,
.doorsWindows,
.realEstate,
.contacts_info,
.construction_tablet,
.doorsWindows_tablet,
.realEstate_tablet,
.contacts_tablet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
  margin: 2em 2em 2em 2em;
  text-align: center;
  color: #272a35;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;
  cursor: pointer;

  .arrow {
    width: 2em;
  }
  svg {
    width: 5em;
    fill: #272a35;
  }

  p {
    font-size: 1.5em;
    color: #272a35;
  }
  .content {
    display: none;
  }
}

.construction:hover,
.doorsWindows:hover,
.realEstate:hover,
.contacts_info:hover,
.construction_tablet:hover,
.doorsWindows_tablet:hover,
.realEstate_tablet:hover {
  box-shadow: 0px 5px 5px #c6c6c6, -5px -5px 5px #ffffff;
}
.projects_gallery {
  display: none;

  // main end  -----------------------------------------------------
}
//footer ----------------------------------------------
footer {
  text-align: center;
  padding: 0.5em;

  a {
    color: black;

    text-decoration: underline;
  }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .welcome p {
    padding: 1em 0em;
    transform: translate(-50%, -70%);
    font-size: 2.5em;
    width: 80%;
    max-width: 650px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // header ---------------------------------------------------------------
  header {
    ul {
      display: flex;
      font-size: 1.1em;
      padding: 1em 2em;
    }
    .list {
      position: unset;
      li {
        padding: unset;
        font-size: unset;
        padding-left: 2em;
        a {
          color: #272a35;
        }
      }
    }
  }

  .nav-burger {
    display: none;
  }

  // welcome section  -----------------------------------------------------
  .welcome {
    p {
      width: 90%;
      max-width: 650px;
    }
  }
  // tablet  -----------------------------------------------------

  .tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "construction_tablet doorsWindows_tablet"
      "realEstate_tablet contacts_tablet";
  }
  .construction_tablet {
    grid-area: construction_tablet;
    margin: 2em 1em 1em 2em;
  }
  .doorsWindows_tablet {
    grid-area: doorsWindows_tablet;
    margin: 2em 2em 1em 1em;
  }
  .realEstate_tablet {
    grid-area: realEstate_tablet;
    margin: 1em 1em 2em 2em;
  }
  .contacts_tablet {
    grid-area: contacts_tablet;
    margin: 1em 2em 2em 1em;
  }
  .arrow {
    width: 2em;
  }
  .arrow_bottom {
    display: none;
  }

  svg {
    width: 5em;
    fill: #272a35;
  }

  // main -----------------------------------------------------
  .construction,
  .doorsWindows,
  .realEstate,
  .contacts_info {
    display: none;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    // header ---------------------------------------------------------------
    .construction,
    .doorsWindows,
    .realEstate,
    .contacts_info {
      display: block;
    }

    header {
      margin: 0 auto;
      max-width: 1370px;
    }
    //navigatin underline effect
    .list a {
      background-image: linear-gradient(#272a35);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 0%;
      background-repeat: no-repeat;
      transition: background-size 0.2s ease-in-out;
      text-decoration: none;
    }

    .list a:hover,
    .list a:focus,
    .list a:active {
      background-size: 100% 0.1em;
    }

    // welcome section  -----------------------------------------------------

    .welcome {
      height: 700px;
      overflow: hidden;

      img {
        max-height: 900px;
        position: relative;
        bottom: 50px;
      }

      p {
        font-size: 3.2em;
        letter-spacing: 0.05em;
        padding: 1em 0;
        max-width: 900px;
      }
    }
    .tablet {
      display: none;
    }
    // main start-----------------------------------------------------

    main {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "construction  doorsWindows  realEstate"
        "projects_gallery projects_gallery projects_gallery"
        "contacts_info contacts_info contacts_info";
      padding: 6em 0 0 0;
      margin: 0 auto;
    }
    // services-----------------------------------------------------

    .our_services {
      display: grid;
      max-width: 1440px;
      margin: 0 auto;
      grid-gap: 2em;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "construction doorsWindows realEstate";
      padding: 0 2em;
    }

    .construction {
      grid-area: construction;
      margin: unset;
    }
    .doorsWindows {
      grid-area: doorsWindows;
      margin: unset;
    }
    .realEstate {
      grid-area: realEstate;
      margin: unset;
    }
    .construction,
    .doorsWindows,
    .realEstate,
    .projects_gallery {
      .title {
        text-align: center;
        font-size: 1.7em;
        color: #272a35;
        padding: 1em 0 1em 0;
        margin: unset;
        letter-spacing: 0.05em;
      }
    }
    .construction .content,
    .doorsWindows .content,
    .realEstate .content,
    .contacts_info .content {
      display: block;
      .arrow_bottom {
        width: 2em;
      }
    }
    // contacts-----------------------------------------------------

    .contacts_info {
      grid-area: contacts_info;
      box-shadow: unset;
      cursor: unset;
      text-align: left;
      align-items: flex-end;
      background-color: #272a35;
      border-radius: unset;
      width: 100%;
      margin: 0;
      // .title {
      //   display: none;
      // }
      .contacts {
        max-width: 1440px;
        margin: 0 auto;
        .content {
          display: flex;
          justify-content: flex-end;
          color: #d3d7e5;
        }
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      .address span,
      .bank span {
        font-size: 1.7em;
        display: inline-block;
        padding-bottom: 0.5em;
        padding-left: 1.7em;
        letter-spacing: 0.05em;
      }
      p {
        line-height: 30px;
        text-align: left;
        font-size: 16px;
        padding: 0 3em;
        margin: 0;
        color: #d3d7e5;
      }
    }
    div.info > p {
      color: #272a35;
    }

    .contacts_info:hover {
      box-shadow: unset;
    }

    .contacts_img {
      display: none;
    }

    .info_img {
      display: none;
    }
    .arrow {
      display: none;
    }
    .arrow_bottom {
      width: 2em;
      display: flex;
      justify-content: center;
    }

    // projects section gallery--------------------------------------------

    .projects_gallery {
      display: block;
      padding: 2em 0 4em 0;
      width: 100%;
      margin: 6em 0 0 0;
      background-color: #d3d7e5;
    }
    .projects_gallery .title {
      border: 3px solid #272a35;

      transform: translate(80%, 0%);
      width: 38.5%;
    }
    .projects {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      margin-top: 3em;
    }
    .gallery {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(4, 1fr);
      margin: 2em 2em 0em 2em;
    }
    // main end-----------------------------------------------------

    footer {
      padding: 6em 0 0 0;
      background-color: #272a35;
      color: #d3d7e5;
      letter-spacing: 0.05em;

      a {
        color: #d3d7e5;
        letter-spacing: 0.05em;
      }
    }
  }
}
