main {
  display: flex;
  //   justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  //   padding-top: 0em;
}

.statyba_content {
  display: flex;
  flex-wrap: wrap;
  // padding: 3em 2em;
  margin: 2em;
  max-width: 350px;
  // text-align: left;
  color: #272a35;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0px 5px 5px #e1dee6, -5px -5px 5px #ffffff;

  p {
    font-size: 16px;
    color: #272a35;
  }

  .statyba_title {
    // padding-top: 2em;
    font-size: 16px;
    // font-weight: 600;
  }
  .statyba_image {
    display: none;
  }
}

.statyba_description,
.statyba_services {
  // width: 100%;
  max-width: 350px;
  // margin: 0em 2em 0em 2em;
  padding: 1em 2em 2em 2em;
}
.statyba_image {
  display: none;
}
@media (min-width: 828px) {
  main {
    align-items: unset;
  }
  .statyba_content {
    max-width: 927px;
    justify-content: center;
  }
  .statyba_description,
  .statyba_services {
    max-width: 380px;
    padding: 1em 2em 2em 2em;
  }
}
@media (min-width: 992px) {
  .statyba_content {
    margin: 2em auto;
    .statyba_services {
    }
  }
  .statyba_description,
  .statyba_services {
    line-height: 1.7em;
    .statyba_title {
    }
  }

  .statyba_description {
    // line-height: 2em;
    // width: 49%;
  }
}

@media (min-width: 1200px) {
  .statyba_contrainer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .statyba_content {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1440px;
    margin: 0 2em 6em 2em;
    p {
      // width: 370px;
    }

    .statyba_image {
      display: flex;
      justify-content: flex-end;
    }
    img {
      width: 583px;
      max-height: 750px;

      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
  }
  .statyba_description {
    max-width: 600px;
    // margin: 0 auto;
    padding: 2em 4em 0 3em;

    // display: flex;
    // justify-content: flex-start;
  }
  .statyba_image {
    width: 100%;
  }

  .statyba_services {
    margin-top: -450px;
    max-width: 600px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // padding: 1em 0em 0 3em;

    // margin: 0 auto;
    padding: 1em 4em 0 3em;
  }
}
